<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="boo">我是第一行dom元素</p>
        <p v-if="!boo">我是第二行dom元素</p>
    </div>
    <script src="js/Vue2.js"></script>
    <script>
        var vue = new Vue({
            el:'#app',
            data:{
                boo:false
            }
        })
    </script>
</body>
</html>